<div class="container">
  <h1>POSTED!!!</h1>
  <%= cl_image_tag spot_image(@spot), class: "ima_tag", height: 100, width: 200 ,crop: :fill, :alt => @spot.address %>
  <p> Address: <%= @spot.address %> </p>
  <p> Crowded: <%= @spot.crowd_congestion %> </p>
  <p> Description: <%= @spot.description %> </p>
</div>
