<div class="container">
  <h1>POSTED!!!</h1>
  <% @spot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, class: "ima_tag", height: 100, width: 200 ,crop: :fill, :alt => @spot.address %>
  <% end %>
  <p> Address: <%= @spot.address %> </p>
  <p> Crowded: <%= @spot.crowd_congestion %> </p>
  <p> Description: <%= @spot.description %> </p>
</div>
