<div class="container">
  <h1 class="txt-head">POSTED!!!</h1>
  <div class="carrossel">
    <ul>
      <% @spot.photos.each do |photo| %>
        <li>
          <%= cl_image_tag photo.key, class: "ima_tag", height: 250, width: 400 ,crop: :fill, :alt => @spot.address %>
        </li>
      <% end %>
    </ul>
  </div>
  <p class="txt-items"> Address: <%= @spot.address %> </p>
  <p class="txt-items"> Crowded: <%= @spot.crowd_congestion %> </p>
  <p class="txt-items"> Description: <%= @spot.description %> </p>
</div>
