<h1>Spot Show</h1>
<p> Address: <%= @spot.address %> </p>
<p> Crowded: <%= @spot.crowd_congestion %> </p>
<p> Description: <%= @spot.description %> </p>
<% @spot.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>