<p id="map"></p>
<p id="demo"></p>
<h1 class="txt-head">View Index Favorites por User com a form de New Favorites</h1>
<div class="txt-items">
  <%= simple_form_for [@favorite] do |f| %>
    <!-- <= f.input :fav_spot, label: 'Address' %> -->
    <%= f.input :fav_spot, input_html: {value: f.object.fav_spot || 'bla bla bla'} %>
    <div class="btn-flex txt-items">
      <%= f.submit "Add ✔", class: 'btn-ok' %>
    </div>
  <% end %>
</div>
<% @favorites.each do |favorite| %>
  <p class="txt-items"><%= favorite.fav_spot %></p>
<% end %>
