<h1>View da Index do Favorites por User com a form de New Favorites</h1>
<%= simple_form_for [@favorite] do |f| %>
  <%= f.input :fav_spot, label: 'Address' %>
  <%= f.submit "Add ✔", class: 'btn btn-success' %>
<% end %>
<% @favorites.each do |favorite| %>
  <p><%= favorite.fav_spot %></p>
<% end %>