<!-- <button  d-flex>
  <= link_to "Post!", new_spot_path %>
</button> -->
<style>
  .marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
</style>
<div id="map"
      style="width: 100%; height: 730px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<form action="/spots/new">
  <input type="hidden" name="latitude" id="user_current_latitude" >
  <input type="hidden" name="longitude" id="user_current_longitude" >

    <%= image_tag "https://res.cloudinary.com/dbappiopini/image/upload/v1606503672/logopartiu-10_ndn9pw.png", class: "map-icon" %>

  <div class="btn-post-position txt-items">
    <input class="btn-post" type="submit" value="Post">
  </div>
</form>
<!-- <p id="demo"></p> -->
