
.btn-sand {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.btn-flex {
  display: flex;
  justify-content: center;
}

.btn-ok {
  font-size: 36px;
  background-color: transparent;
  // background-color: #8de68d;
  border: transparent;
  // box-shadow: 0px 0px 16px 2px #00000030;
  color: #1cf9be;
  text-decoration: none;
  text-align: center;
  border-radius: 24px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  transition-duration: 0.4s;
  margin: 8px;
}

.btn-blue {
  font-size: 36px;
  background-color: transparent;
  // background-color: #467ede;
  border: transparent;
  // box-shadow: 0px 0px 16px 2px #00000030, #3567e2;
  color: #18b5e9;
  text-decoration: none;
  text-align: center;
  border-radius: 24px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 16px;
  margin: 8px;
  transition-duration: 0.4s;
}

.icon-update {
  // height: 20px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-image: url('partiu/update_icon.png');
}

#icon-password {
  background-image: url('partiu/password_icon.png');
}

#icon-guy {
  background-image: url('partiu/guy_icon.png');
}

.btn-post-position {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 40px;
  padding-left: 8px;
  padding-right: 8px;
  z-index: 1;
}

.btn-post {
  display: block;
  width: 60%;
  cursor: pointer;
  height: 40px;
  background-color: #02343f;
  color: white;
  background-image: url('partiu/post_icon.png');
  background-repeat: no-repeat;
  background-size: 30px;
}

