.card {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  border: transparent;
  border-radius: 2px;
  background-color: transparent;
}

.crowed {
  display: flex;
  justify-content: center;
}
