.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background-color: #02343F;
  background: linear-gradient(to bottom, #02343F 5%, #0ca1c2 100%)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.body_all {
  background-color: #F0EDCC;
  margin: 0;
}


#navbarDropdown {
  border-radius: 50%;
}

