.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background-color: #02343F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.body_all {
  background-color: #F0EDCC;
  margin: 0;
}

.photo-user {
  display: flex;
  border-color: 2px solid white;
  border-radius: 8px;
}
