.txt-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.txt-items {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 8px
}

.txt-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.txt-sentances {
  margin-bottom: 4px;
}

.txt-flex {
  display: flex;
  flex-direction: column;
  align-self: center;
  // justify-content: center;
}

.txt-logo {
  color: white;
  padding-right: 120px;
  text-align: left;
}
