.txt-head {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.txt-items {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 8px
}

.txt-thin {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 25px;
}

.txt-sentances {
  margin-bottom: 4px;
}

.txt-flex {
  display: flex;
  flex-direction: column;
  align-self: center;
  // justify-content: center;
}
