a {
  color: inherit;
}

.txt-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.txt-items {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 8px;
}

.txt-small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.txt-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.txt-danger-normal {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.txt-sentances {
  margin-bottom: 4px;
}

.txt-flex {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.txt-flex-center {
  display: flex;
  justify-content: center;
}

.txt-logo {
  color: white;
  // padding-right: 120px;
  text-align: left;
}

.txt-menu {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.txt-normal {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.txt-bold {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.txt-bold-big {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.txt-info-normal {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.txt-info-bold {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.txt-infowindow {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
  color: #FF9800;
  text-decoration: none;
  background-color: transparent;
}


